.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.h2 {
color: #387533;
font-family: Trebuchet MS, Helvetica;
}

.text {
font-family: Trebuchet MS, Helvetica;
}

.logo {
background-color: #FAFAFA;
}
